body{
    overflow-x: hidden;
    font-family:'Roboto Condensed', sans-serif;
}

a{
    font-weight: 300;
    text-decoration: none;
    font-size: 20px; 
    color: white;
}

a:hover{
    color: rgb(194, 189, 189);
}

.kontey{
    height: auto;
}

.anaBolum1{
    background-color: #485b98;
}

.anaBolum2{
    background-color: #4c9870;
}

.anaBolum2 a{
    width: 35%;
    margin-right: 3%;
    margin-bottom: 3%;
    background-repeat: no-repeat;
    float: left;
}

.anaBolum2 a img{
    width: 100%;
    border-radius: 5px;
}

.anaBolum3{
    background-color: #485b98;
}

.baslik{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

.metin{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.girisYap .sol{
    background-color: #263238;
    text-align: center;
}

#girisYapBaslik{
    font-size: 35px;
    font-weight: 400;
}

.girisYap .sag{
    text-align: center;
}

.girisYap form p{
    font-weight: 300;
    margin-bottom: 2px;
    text-align:left;
}

.girisYap .textBox input{
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    color: #1a1a1a;
    border-radius: 4px;
}

.girisYap .buton input{
    background-color: #2d56b3;
    margin-top: 20px;
    width: 60%;
    height: 50px;
    min-width: 100px;
    font-size: 17px;
    color: white;
    border-radius: 4px;
}

